:root{
    --fondo-color:#181818;
    --items-color:#202020;
    --border-color:#383838;
    --text-color:#e7e7e7;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--fondo-color);
    display: flex;
    
}

aside{
    top: 0;
    left: 0;
    bottom:0;
    overflow-y: auto;
}

.aside-nav{
display: flex;
justify-content: space-between;
padding-top: 10px;
color: aliceblue;
}

.aside-nav-icon{
    display: flex;
    background: transparent;
}

aside::-webkit-scrollbar{
    width: 8px;
}
aside::-webkit-scrollbar-thumb{
    background-color: #909090;
    border-radius: 5px;
}

.container-svg{
    padding: 10px 1px;
    color: var(--text-color);
}

.container-svg div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}


.container-svg div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

h2{
    padding: 10px 20px;
    color: #909090;
    font-size: 20px;
}


.icono {
    height: 2rem;
    width: 2rem;
    border-radius: 20px;
}

.containerIcon-main{
    display: flex;
    align-items: center;
    color: #909090;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.search-box {
    background: #222;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 500px;
}
.search-box input {
    flex-grow: 1;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
}
.search-box button {
    background: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.options {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.option {
    background: #333;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}
